<div class="portfolio-container">
    <h2 class="m-2">Portfolio</h2>
    <table class="portfolio-table">
      <thead class="thead-dark">
        <tr>
          <th>Ticker</th>
          <th>Empresa</th>
          <th>Data da Compra</th>
          <th>Quantidade</th>
          <th>Preço de Compra ($)</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let stock of stocks">
          <td>{{ stock.symbol }}</td>
          <td>{{ stock.name }}</td>
          <td>{{ stock.date }}</td>
          <td>{{ stock.quantity }}</td>
          <td>{{ stock.price | number:'1.2-2' }}$</td>
        </tr>
      </tbody>
    </table>
    <button type="button" class="btn btn-outline-success m-5">Comprar</button>
    <button class="btn btn-outline-danger m-5">Vender</button>
  </div>
  